sudo: required
dist: xenial
language: cpp
compiler: gcc
install:
  - sudo add-apt-repository -y ppa:fpoussin/ppa
  - sudo apt-get update -qq
  - sudo apt-get -qq install qtbase5-dev qt5-qmake qt5-default libqt5usb5-dev libusb-1.0-0-dev

script:
  - qmake
  - make -j $(nproc)
